<div class="navbar-wagon">
  <!-- Logo -->
  <% link_to "/", class: "navbar-wagon-brand" do %>
    <%= image_tag "SmallLogo.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <%= link_to "About", "pages/about.html", class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Menu", "pages/menu.html", class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Contact", "pages/contact.html", class: "navbar-wagon-item navbar-wagon-link" %>
    <a href="https://www.facebook.com/Het-Koffieboontje-1510940029210777/?fref=ts"><i class="fa fa-facebook-official"></i></a>

  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to "About", "pages/about.html" %></li>
        <li><%= link_to "Menu", "pages/menu.html" %></li>
        <li><%= link_to "Contact", "pages/contact.html" %></li>
      </ul>
    </div>
  </div>
</div>
